<!-- templates/category_list.html -->
{% extends 'base.html' %}

{% block title %}Category List{% endblock %}

{% block content %}
    <div class="content-container">
        <h2>Categories</h2>
        <table>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td style="text-align: right">
                        <a href="{% url 'product_list_by_category' category.id %}">View Products</a> <!-- Link to view products -->
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No categories available.</td> <!-- Adjusted colspan -->
                </tr>
            {% endfor %}
        </table>

        <div class="add-button">
            <a href="{% url 'add_category' %}">Add a new category</a>
        </div>
    </div>
{% endblock %}
