<!-- templates/product_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ product.name }} Details{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="product-detail">
            <h2>{{ product.name }}</h2>
            <p><strong>Category:</strong> {{ product.category.name }}</p>
            <p><strong>Price:</strong> <span class="price">${{ product.price }}</span></p>
            <p><strong>Quantity:</strong>
                <span class="quantity {% if product.quantity < 10 %}low{% elif product.quantity < 50 %}medium{% else %}high{% endif %}">
            {{ product.quantity }}
        </span>
            </p>
            <p class="description"><strong>Description:</strong> {{ product.description }}</p>
            <div class="add-button">
                <a href="{% url 'product_list' %}">Back to Product List</a>
            </div>
        </div>

    </div>
{% endblock %}