<!-- templates/product_list.html -->
{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}

    <div class="content-container">
        <h2>List of Products</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
                    <td>{{ product.category.name }}</td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.description }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="empty-message">No products available.</td>
                </tr>
            {% endfor %}
        </table>

        <div class="add-button">
            <a href="{% url 'add_product' %}">Add a new product</a>
        </div>
    </div>
{% endblock %}